In [1]:
import numpy as np
import pandas as pd
np.random.seed(1)

In [2]:
full_labels = pd.read_csv('data/elephant_labels.csv')

In [3]:
full_labels.head()

          filename  width  height    class  xmin  ymin  xmax  ymax
0    raccoon-1.jpg    650     417  raccoon    81    88   522   408
1   raccoon-10.jpg    450     495  raccoon   130     2   446   488
2  raccoon-100.jpg    960     576  raccoon   548    10   954   520
3  raccoon-101.jpg    640     426  raccoon    86    53   400   356
4  raccoon-102.jpg    259     194  raccoon     1     1   118   152

In [4]:
grouped = full_labels.groupby('filename')

In [5]:
grouped.apply(lambda x: len(x)).value_counts()

1    184
2     15
3      1
dtype: int64

### split each file into a group in a list

In [6]:
gb = full_labels.groupby('filename')

In [7]:
grouped_list = [gb.get_group(x) for x in gb.groups]

In [8]:
len(grouped_list)

200

In [9]:
train_index = np.random.choice(len(grouped_list), size=160, replace=False)
test_index = np.setdiff1d(list(range(200)), train_index)

In [10]:
len(train_index), len(test_index)

(160, 40)

In [11]:
# take first 200 files
train = pd.concat([grouped_list[i] for i in train_index])
test = pd.concat([grouped_list[i] for i in test_index])

In [12]:
len(train), len(test)

(173, 44)

In [13]:
train.to_csv('train_labels.csv', index=None)
test.to_csv('test_labels.csv', index=None)